body {
	margin: 0px;
	padding: 0px;

}

.left {
	background: #313541;
	width: 20%;
	float: left;
	position: absolute;
	top: 0px;
	bottom: 0px;
}

.top {
	width: 80%;
	float: right;
	height: 100px;
	line-height: 100px;
	border-bottom: 1px solid #b0cdff;
}

.content {
	float: right;
	width: 80%;
	text-align: center;
	font-size: 18px;
	margin-top: 0px;
}

.leftTiyle {
	font-size: 25px;
	padding-left: 30px;
	font-weight: 600;
	color: #545454;
	float: left;
}

.thisUser {
	float: right;
	margin-right: 30px;
}

.bigTitle {
	background: #3d598a;
	color: #fff;
	height: 100px;
	line-height: 100px;
	text-align: center;
	font-size: 24px;
	font-family: -webkit-body;
}

.lines .active {
	background: #272a34;
	color: #fff;

}
.lines img{
    width: 23px;
    vertical-align: middle;
    margin-bottom: 4px;
    margin-right: 9px;
}
.lines div {
	height: 70px;
	line-height: 70px;
	padding-left: 50px;
	color: #707783;
}

.lines div:hover {
	cursor: pointer;
	color: #FFFFFF;
}
.seedcontent{
    position:absolute;
    top: 180px;

    left:38%;
    font-size: 20px;

}
.table_div{
    position:absolute;
    top: 0px;
    left:40%;

}
.excel_div{
    position:absolute;
    bottom: 90px;
    left:35%;
    width: 500px;
    align-items: center;
    font-size: 25px;
    align-content: center;
}
.button{
	width: 100px;
    height: 30px;
	background-color: black;
    color: white;
	border:none;
    border-radius: 5px;
    margin-top: 15px;
    letter-spacing: 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.qiehuan{
	width: 300px;
    height: 30px;
	background-color: blue;
    color: white;
	border:none;
    border-radius: 10px;
    margin-top: 15px;
    letter-spacing: 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.filebutton{
    width: 120px;
    height: 30px;
	background-color: black;
    color: white;
	border:none;
    margin-top: 15px;
    letter-spacing: 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
/*设置下拉框样式*/
input{
    color: #0096e6;
    border-radius: 5px;
    height: 25px;
}
.styled-select select {
   background: white;
   width: 150px;
    height: 25px;
    border-radius: 5px;
   border: 1px solid #ccc;
   -webkit-appearance: none; /*for chrome*/
    font-size: 15px;
    font-weight: bold;
    color: #0096e6;
    padding-left: 24%;

}

